@import url(modules/framework1_base.less);

/** ==============================================================
 * Header
 */
@import url(layout/dbwebb-se_header_v2.less);


/** ==============================================================
 * The footer column area.
 *
 */
 @import url(layout/dbwebb-se_footer.less);

// // Endast tillfälligt
//  .site-logo-text-icon {
//      display: none !important;
//  }


 // #mapdiv {
 //      box-sizing: border-box;
 //      border: 3px solid black !important;
 //      width: 50% !important;
 // }


 #OpenLayers_Map_2_OpenLayers_ViewPort {
     box-sizing: border-box !important;
     border: 3px solid black !important;
     width: 75% !important;
 }


 figure.figure {
     border: 10px ridge #777BB4;
     padding: 2em;
 }


// body.route-om {
//     background-color: pink;
// }


.outer-wrap.outer-wrap-main {
    min-height: 750px;
    // background-color: pink;
}

// Geolocator

.flag {
    max-width: 100%;
    width: 20%; 
}
